header {
    background-color: var(--backgroung-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    padding: 38px 48px;
    position: relative;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;  
}

.logo-mobile {
    display: block;
}

.logo-desktop {
    display: none;
}

.navigation-menu {
    display: block;
    margin-top: 24px;
}

#menu:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--backgroung-tertiary-color);
    padding: 20px;
    z-index: 99;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: var(--backgroung-tertiary-color);
}

nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
    z-index: 99;
}

li {
    color: var(--text-secondary-color);
}

.list-links {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: var(--text-secondary-color);
}

.list-links li a {
    color: var(--text-secondary-color);
    text-decoration: none;
    width: 467px;
    margin: 0;
    font-weight: var(--menu-text-weight);
    font-size: 24px;
}


.list-links li {
    margin: 16px 0;
}

label[for="menu"] {
    cursor: pointer;
}

body {
    font-family: "Montserrat";
}

@media screen and (min-width: 768px) {
    label[for="menu"] {
        display: none;
    }

    nav {
        display: block !important;
        position: static;
        width: auto;
    }

    .navigation-menu {
        margin-top: 0;
        width: 467px;
    }

    .navigation-menu nav {
    display: block;
    }

    .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    }
    .navigation-menu li {
        margin-top: 0;
    }

    .list-links {
        display: flex;
        gap: 20px;
    }

    .list-links li {
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: 38px 120px;

    }
    .logo {
        width: 260px;
        height: 64px;
    }
    .logo-desktop {
        display: block;

    }
    .logo-mobile {
        display: none;
    }

    .navigation-menu a:hover {
        color: var(--primary-color);

    }

}

@media screen and (min-width: 1920px) {
header {
    padding: 38px 160px;
    }

.navigation-menu a:hover {
    color: var(--primary-color);

    }

}