header {
    background-color: var(--backgroung-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    padding: 38px 48px;
    position: relative;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
   
}

.navigation-menu{
    margin-top: 24px;
}

#menu:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--backgroung-tertiary-color);
    padding: 20px;
    z-index: 99;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: var(--backgroung-tertiary-color);
}

nav {
    display: none;
    width: 100%;
}

li {
    color: var(--text-secondary-color);
}

.list-links {
    list-style: none;
    text-decoration: none;
    color: var(--text-secondary-color);
}

.list-links li a {
    color: var(--text-secondary-color);
    text-decoration: none;
    width: 467px;
    margin: 0;
    font-weight: var(--menu-text-weight);
    font-size: 24px;
}


.list-links li {
    margin: 16px 0;
}

label[for="menu"] {
    cursor: pointer;
}

body {
    font-family: "Montserrat";
}

@media screen and (min-width: 768px) {
    .navigation-menu {
        margin-top: 0;
        width: 467px;
    }

    .navigation-menu nav {
    display: block;
    }

    .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    }
    .navigation-menu li {
        margin-top: 0;
    }
}
